body {
  font-family: "Libre Baskerville", serif;
  margin: 0;
  display: flex;
  flex-direction: column;
}

.header {
  background-color: #2b2b2b;
  display: flex;
  flex-direction: column;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0px 24px;
}

.logo {
  width: 6rem;
  height: auto;
  margin-top: 8px;
}

.main-header {
  display: flex;
  justify-content: space-evenly;
  margin: 0 0 48px 48px;
  align-items: center;
}

.main-header-left {
  display: flex;
  flex-direction: column;
}

h1 {
  font-size: 48px;
  font-weight: 900;
  color: #f5bd18;
  margin: 0;
}

.sub-heading {
  font-size: 18px;
  color: #f9faf8;
}

.campus {
  width: 600px;
  min-width: 400px;
  height: auto;
  border-radius: 10px;
  display: flex;
  flex: 0 1 auto;
  margin: 48px;
}

.links {
  list-style-type: none;
  display: flex;
  gap: 24px;
}

.header-link {
  text-decoration: none;
  color: #f9faf8;
}

.title {
  color: #3d3d3d;
  font-size: 36px;
  margin: 3rem 1em 0.25em 1em;
  text-align: center;
}

.headshot {
  width: 100%;
  max-width: 250px;
  min-width: 150px;
  height: auto;
  display: flex;
  flex: 1 1 auto;
  border-radius: 5%;
}

.info-container {
  display: flex;
  justify-content: center;
  gap: 2%;
  margin: 2em 1em 3rem 1em;
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 300px;
}

.more-info {
  font-family: "Libre Baskerville", serif;
  background-color: #f9faf8;
  border-radius: 0.5em;
  border: 2px solid #007360;
  color: #007360;
  padding: 8px 12px;
}

.text {
  display: block;
  text-align: center;
  margin: 16px;
}

.why-subscribe {
  background-color: #c8c8c8;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.subscribe-info {
  font-size: 18px;
  color: #1f2937;
  width: 75%;
  text-align: center;
  list-style: none;
  padding: 0;
  margin: 0 0 3rem 0;
}

.subscribe-info li {
  padding-left: 1rem;
  text-indent: -0.75rem;
}

.subscribe-info li::before {
  content: "🎵 ";
}

.subscribe-info li:nth-child(2)::before {
  content: "💰 ";
}

.subscribe-info li:nth-child(3)::before {
  content: "🍿 ";
}

h2 {
  margin-top: 3rem;
  margin-bottom: 4px;
}
.reason {
  margin: 0.5rem;
}

.cta,
.subscribe-cta {
  background-color: #a51417;
}

.cta {
  color: #f9faf8;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cta-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 12px 48px;
  padding: 0;
}

h4 {
  font-size: 20px;
  margin: 1rem 0 1rem 0;
}

.single-ticket {
  margin: 0 0 1rem 0;
}

.subscribe-header {
  background-color: #2b2b2b;
  font-family: "Libre Baskerville", serif;
  border-radius: 0.5em;
  border: 2px solid #f9faf8;
  color: #f9faf8;
  padding: 8px 12px;
}

.first-link {
  display: inline-block;
  width: 24%;
}

.subscribe-cta {
  font-family: "Libre Baskerville", serif;
  border-radius: 0.5em;
  border: 2px solid #f9faf8;
  color: #f9faf8;
  padding: 8px 12px;
}

.subscribe-header:hover {
  background-color: #f9faf8;
  color: #2b2b2b;
  cursor: pointer;
}
.subscribe-cta:hover {
  background-color: #f9faf8;
  color: #a51417;
  cursor: pointer;
}

.more-info:hover {
  background-color: #007360;
  color: #f9faf8;
  cursor: pointer;
}

.footer {
  background-color: #3d3d3d;
  color: #f9faf8;
  text-align: center;
  padding: 28px 0px;
  font-size: 12px;
}
